<footer class="page-footer font-small mdb-color lighten-3 pt-4 jumbotron" style="margin-bottom: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
          <h5 class="font-weight-bold text-uppercase mb-4">Hope HealthCare</h5>
          <p>Hope Healthcare is a Mumbai-based pharma company which sells medicines
             throughout India as per the demand it receives from multiple hospitals 
             and clinics. It has been operating in India for the last 15 years.</p>
  
        </div>
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
          <h5 class="font-weight-bold text-uppercase mb-4">Services</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                <button style="background-color: transparent; color: rgb(45, 99, 247); border: transparent;" (click)="gotoAbout()">About Us</button>
              </p>
            </li>
            <li>
              <p>
                <button style="background-color: transparent; color: rgb(45, 99, 247); border: transparent; " (click)="gotoContact()" >Contact Us</button>
              </p>
            </li>
            <li>
              <p>
                <button style="background-color: transparent; color: rgb(45, 99, 247); border: transparent; text-align: left;" (click)="gotoShop()">Shop Medicines</button>
              </p>
            </li>
            <li>
              <p>
                <button style="background-color: transparent; color: rgb(45, 99, 247); border: transparent; text-align: left;" (click)="gotoSch()" >Schedule Appointment</button>
              </p>
            </li>
          </ul>
  
        </div>
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
          <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                <i class="fa fa-home mr-3"></i>Bandra-400 050,Mumbai, India</p>
            </li>
            <li>
              <p>
                <i class="fa fa-envelope mr-3"></i> hope@healthcare.com</p>
            </li>
            <li>
              <p>
                <i class="fa fa-phone mr-3"></i> + 91 2343 5673 88</p>
            </li>
            <li>
              <p>
                <i class="fa fa-print mr-3"></i> + 91 2349 5679 89</p>
            </li>
          </ul>
  
        </div>
        
      </div>
    </div>
    <div class="footer-copyright text-center py-3" style="background-color: #bebebe;">© 2020 Copyright:
      <a href="https://google.com/"> HopeHealthcare.com</a>
    </div>
  </footer>


