<div class="cntct">
    <div class="container jumbotron" style="margin-bottom: 30px;margin-top: 30px;"> 
        
        <h3 style="font-family: Brush Script MT, Brush Script Std, cursive; text-align: center; font-size: 36px;"> Contact Form </h3>
        <hr style="width:20%; margin-left:40%; border-width: 3px; ">
        <br>
        <form>
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
                <label>Fullname</label>
                <input type="text" class="form-control" placeholder="Fullname">
            </div>
            <div class="form-group">
                <label>Subject </label>
                <textarea type="text" class="form-control" placeholder="Subject" style="height: 250px;"></textarea>
            </div>
            <button class="btn btn-primary" type="submit" (click)="subContact()">Submit</button>
        </form>
    </div>
</div>

