<div class="container">
    
     <img src="https://www.peeweepc.com/sites/default/files/079.jpg">
    <form class="btn"> 
      <h1 style="color:black">Welcome to Hope-HealthCare</h1>
      <br>
      <label style="padding-right: 28px; " > <button (click)="gotoLogin()" style="font-size: 20px; font-weight: bold;">Log-In</button> </label> 
      <label style="padding-left: 28px;"> <button (click)="gotoRegister()" style="font-size: 20px; font-weight: bold;">Register</button></label>
    </form>
    
</div>

